### CDAM LIDC

__pycache__

CDAM_LIDC/images/
CDAM_LIDC/plots/

CDAM_LIDC/Transformer_Explainability/
CDAM_LIDC/weights/

CDAM_LIDC/CDAM_cache.ipynb

CDAM_LIDC/.ipynb_checkpoints/CDAM-checkpoint.ipynb
CDAM_LIDC/.ipynb_checkpoints/CDAM_cache-checkpoint.ipynb
CDAM_LIDC/.ipynb_checkpoints/LIDC_Dataset-checkpoint.py
CDAM_LIDC/.ipynb_checkpoints/README-checkpoint.md
CDAM_LIDC/.ipynb_checkpoints/ViT_End2End_Model-checkpoint.py
CDAM_LIDC/.ipynb_checkpoints/requirements_local-checkpoint.txt

CDAM_LIDC/readme-images/.ipynb_checkpoints/CDAM_overview-checkpoint.png
CDAM_LIDC/readme-images/CDAM_overview.png
CDAM_LIDC/readme-images/sample.png
CDAM_LIDC/.ipynb_checkpoints/
dataset/


### DDPM repo

DDPM/gen_imgs/*
DDPM/plots/*
DDPM/Plots_report/*
DDPM/saved_model/*
DDPM/script.py
DDPM/wsad.slurm
DDPM/__pycache__



## ViT based Concept Bottleneck Model (CBM)

# Ignoring Jupyter Notebook checkpoints files:
ViT_CBM/.ipynb_checkpoints

# Ignoring logs files
ViT_CBM/lightning_logs/*
ViT_CBM/tb_logs/*

# Ignoring paths files
ViT_CBM/paths.txt

# Ignoring dataset
ViT_CBM/dataset/*
ViT_CBM/dataset/crops/*
ViT_CBM/dataset/masks/*
ViT_CBM/dataset/masks_pyradiomics/*
ViT_CBM/dataset/radiomics_features/*
ViT_CBM/dataset/crops_pyradiomics/*

# Ignoring weights
ViT_CBM/weights/*

# Ignoring scores
ViT_CBM/scores/*

# Ignoring pycache
ViT_CBM/__pycache__

#training scripts
ViT_CBM/train_concept.py
ViT_CBM/train_end2end.py
ViT_CBM/wsad.slurm
