### CDAM LIDC

__pycache__

CDAM_LIDC/images/
CDAM_LIDC/plots/

CDAM_LIDC/Transformer_Explainability/
CDAM_LIDC/weights/

CDAM_LIDC/CDAM_cache.ipynb

CDAM_LIDC/.ipynb_checkpoints/CDAM-checkpoint.ipynb
CDAM_LIDC/.ipynb_checkpoints/CDAM_cache-checkpoint.ipynb
CDAM_LIDC/.ipynb_checkpoints/LIDC_Dataset-checkpoint.py
CDAM_LIDC/.ipynb_checkpoints/README-checkpoint.md
CDAM_LIDC/.ipynb_checkpoints/ViT_End2End_Model-checkpoint.py
CDAM_LIDC/.ipynb_checkpoints/requirements_local-checkpoint.txt

CDAM_LIDC/readme-images/.ipynb_checkpoints/CDAM_overview-checkpoint.png
CDAM_LIDC/readme-images/CDAM_overview.png
CDAM_LIDC/readme-images/sample.png
CDAM_LIDC/.ipynb_checkpoints/
dataset/
CDAM_LIDC/maps/SSL_ViT/.ipynb_checkpoints/0027-checkpoint.png
CDAM_LIDC/maps/SSL_ViT/.ipynb_checkpoints/0050-checkpoint.png
CDAM_LIDC/maps/SSL_ViT/.ipynb_checkpoints/0567-checkpoint.png
CDAM_LIDC/maps/*

### DDPM repo

DDPM/gen_imgs/*
DDPM/plots/*
DDPM/Plots_report/*
DDPM/saved_model/*
DDPM/script.py
DDPM/wsad.slurm
DDPM/__pycache__



## ViT based Concept Bottleneck Model (CBM)

# Ignoring Jupyter Notebook checkpoints files:
ViT_CBM/.ipynb_checkpoints

# Ignoring logs files
ViT_CBM/lightning_logs/*
ViT_CBM/tb_logs/*

# Ignoring paths files
ViT_CBM/paths.txt

# Ignoring dataset
ViT_CBM/dataset/*
ViT_CBM/dataset/crops/*
ViT_CBM/dataset/masks/*
ViT_CBM/dataset/masks_pyradiomics/*
ViT_CBM/dataset/radiomics_features/*
ViT_CBM/dataset/crops_pyradiomics/*

# Ignoring weights
ViT_CBM/weights/*

# Ignoring scores
ViT_CBM/scores/*

# Ignoring pycache
ViT_CBM/__pycache__

#training scripts
ViT_CBM/train_concept.py
ViT_CBM/train_end2end.py
ViT_CBM/wsad.slurm


### DINO
DINO/.ipynb_checkpoints/Untitled-checkpoint.ipynb
DINO/.ipynb_checkpoints/*
DINO/LitModel.py
DINO/my_utils/.ipynb_checkpoints/norm_factors-checkpoint.py
DINO/my_utils/.ipynb_checkpoints/plot_utils-checkpoint.py
DINO/tb_logs/*
DINO/checkpoints/*
DINO/lightning_logs/
DINO/my_utils/.ipynb_checkpoints/
DINO/wsad.slurm
DINO/training_plots/.ipynb_checkpoints/train_ACC-checkpoint.png
DINO/training_plots/.ipynb_checkpoints/train_loss-checkpoint.png
DINO/training_plots/.ipynb_checkpoints/val_ACC-checkpoint.png
DINO/training_plots/.ipynb_checkpoints/val_loss-checkpoint.png
DINO/training_plots/Biomarkers/.ipynb_checkpoints/

### ViT
ViT/.ipynb_checkpoints/SL_Biomarker_Model-checkpoint.py
ViT/.ipynb_checkpoints/SL_End2End_Model-checkpoint.py
ViT/.ipynb_checkpoints/ViT_finetuning-checkpoint.ipynb
ViT/.ipynb_checkpoints/train_SL_End2End-checkpoint.py
ViT/my_utils/.ipynb_checkpoints/norm_factors-checkpoint.py
ViT/my_utils/.ipynb_checkpoints/plot_utils-checkpoint.py
ViT/.ipynb_checkpoints/
ViT/checkpoints/
ViT/lightning_logs/
ViT/tb_logs/
ViT/wsad.slurm


### 3DViT
3DViT/Greedy/data
3DViT/Greedy/wandb
3DViT/Greedy/ckpt
__pycache__
3DViT/Vanilla/data
3DViT/Vanilla/wandb
ckpt
.ipynb_checkpoints

